body{
    background: url("./media/Covid-19.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
h1{
    text-align: center;
    color: white;
    margin: 50px;
}
button{
    margin: 30px;
}

p, h3{
    text-align: center;
   
}